<!-- Sean Dudley -->
<!-- CSD340 - Module 3.2 - Site.CSS -->

container {
  margin-top:50px;
  margin-left: 100px;
  margin-right: 100px;
 }

 h1, h2, h3, h4 {
  background-color:rgb(166,36,15);
  font-family: corbel, david, biome, timesnewroman;
  color: rgb(18,4,2);
  border: 1px, solid, #D6A800;
  padding: 10px;
 }

 a:link {
  color: darkred;
  font-weight: bold;
  font-size: 1.25em;
  text-decoration: none;
 }

 a:visited {
  color: rgb(84, 73, 238);
  font-weight: bold;
  font-size: 1.1em;
  text-decoration: underline;
 }

 a:hover {
  color: darkred;
  font-weight: bold;
  font-size: 1.3em;
 }

 a:active {
  background-color: rgb(224,222,58);
  color: rgb(48,224,23);
  font-weight: bold;
  font-size: 1.3em;
 }
